
/* Copyright 2023, Bart Victor Loots
/*
/* Fonts */
@font-face {
    font-family: 'bagnard_sans_regularregular';
    src: url('../fonts/bagnardsans-webfont.eot');
    src: url('../fonts/bagnardsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bagnardsans-webfont.woff2') format('woff2'),
         url('../fonts/bagnardsans-webfont.woff') format('woff'),
         url('../fonts/bagnardsans-webfont.ttf') format('truetype'),
         url('../fonts/bagnardsans-webfont.svg#bagnard_sans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'maximilianregular';
    src: url('../fonts/maximilian-webfont.eot');
    src: url('../fonts/maximilian-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maximilian-webfont.woff2') format('woff2'),
         url('../fonts/maximilian-webfont.woff') format('woff'),
         url('../fonts/maximilian-webfont.ttf') format('truetype'),
         url('../fonts/maximilian-webfont.svg#maximilianregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Variabelen*/
:root {
    --font_titel: 'maximilianregular', georgia, serif;
    --font_teksten: 'bagnard_sans_regularregular' verdana, sans-serif;
    --kleur_wit: #f2f2f2;
    --kleur_zwart: #0d0d0d;
    --kleur_rood: #8c0d03;
}

/* Standaard */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--kleur_wit);
    min-height: 100%;
    font-family: var(--font_teksten);
    font-size: 2rem;
    color: var(--kleur_zwart);
    line-height: 1.5;
}
h1, h2,h3,h4,h5,h6{
	font-family: var(--font_titel);
}

img {
    display: block;
}

header, footer{
	background-color:var(--kleur_rood);
}